pydantic==2.5.0
fastapi==0.111.1
uvicorn==0.23.1
sqlalchemy==2.0.20
passlib==1.7.4
python-jose==3.3.0
python-multipart==0.0.20
email-validator==2.3.0
jinja2==3.1.6
starlette==0.37.2
fastapi-cli==0.0.14
httpx==0.28.1
